
@font-face {
  font-family: 'White Elephant';
  src: url('/fonts/White Elephant.eot'); /* IE9 Compat Modes */
  src: url('/fonts/White Elephant.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/White Elephant.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/White Elephant.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/White Elephant.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/White Elephant.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Streetlight';
  src: url('/fonts/Strelght.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Strelght.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Strelght.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Strelght.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Strelght.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Strelght.svg#svgFontName') format('svg'); /* Legacy iOS */
       
}

/* ----- GLOBAL -----*/
* {
  margin, padding: 0;
  list-style: none;
}

p, div {
  font-family: 'Streetlight', Fallback, sans-serif;
  font-size: 15px;
}

#active {
  color: #70280c;
}

#navbar {
    position: relative;
    padding: 5px 0px 5px 0px;
    font color: ##ffffff;
    font-family: 'White Elephant', Fallback, sans-serif;
    font-size: 30px;
}

#navbar a {
    padding: 0px 5px 0px 5px;
}

/* ----- INDEX PAGE -----*/
#frontpage {
    font-size: 100px;
}

/* ----- CONTACT PAGE -----*/
#contact {
    text-align: right
}

/* ----- ABOUT PAGE -----*/
#me {
    position: relative;
    border: 8px solid #ffffff;
    border-bottom: 40px solid #ffffff;
    box-shadow: 3px 3px 3px 3px #777;
    -webkit-box-shadow:3px 3px 3px 3px #777;
    -moz-box-shadow:3px 3px 3px 3px #777;
}

#skills div div img {
    width: 10%;
}

#resume a button {
    width: 100%;
    margin: auto;
}

/* ----- PORTFOLIO IMAGE ROTATION ----- */
.image-rotation {
    position:relative;
    overflow:hidden;
    float:left;
}
.image-rotation figure {
    position:relative;
    cursor:pointer;
}
.image-rotation figure img {
    display:block;
    position:relative;
    z-index:10;
}
.image-rotation figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.image-rotation figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}

.image-rotation figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.image-rotation figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.image-rotation figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.image-rotation figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.image-rotation figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/* ----- FOOTER -----*/
#footer {
    font-family: 'White Elephant', Fallback, sans-serif;
    font-size: 18px;
    padding: 5px 2px 2px 2px;
    text-align:center;
}
